
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      
      <p class="name">
        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name (AS IN MASTERCARD ACC)" id="name" />
      </p>
      
      <p class="email">
        <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
      </p>
      
       <p class="phone no">
        <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Phone Number" />
      </p>

       <p class="address ">
        <input name="address" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Address" />
      </p>

      <p class="postcode ">
        <input name="postcode" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Postcode" />
      </p>

      <p class="account">
        <input name="account" type="integer" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Account no" />
      </p>

       <p class="card ">
        <input name="card no" type="integer" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Card Number" />
      </p>


      <div class="submit">
        <input type="submit" value="SOS" id="button-blue"/>
        <div class="ease"></div>
      </div>
      
    </form>
  </div>
