<div class="earn">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3 result">
        <!-- <canvas id="myChart" width="400" height="200"></canvas> -->
        <h1>Earning those extra incomes, because you can</h1>
        <a href=""><h5>+ Add your own</h5></a>
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Sell Your Wardrobe</span>
              <p>Girls, that’s a perfect option for you! How many dresses do you have that you wore like 3 times and now they’re hidden somewhere deep in your closet? Sell your pre-loved clothes at <a href ="https://carousell.com/">Carousell</a> or <a href ="https://www.duriana.com/">Duriana</a></p>
            </div>
            <div class="card-action">
              <a href="#">VIEW</a>
              <a href="#">SAVE</a>
            </div>
          </div>

          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Test Websites for Money</span>
              <p>A lot of big companies look for feedback on the usability of their websites and you can get paid doing that. Expect to earn somewhere from 10 cents for an assignment taking less than a minute, to $10-$15 when it comes to larger questionnaires requesting more of your time. Here’s a <a href = "http://www.theworkathomewoman.com/test-websites/"> big list of sites </a> where you can create an account and start earning cash.</p>
            </div>
            <div class="card-action">
              <a href="#">VIEW</a>
              <a href="#">SAVE</a>
            </div>
          </div>

          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Become a language tutor online</span>
              <p>Did you know that English language practice is in high demand in Asia? Sites like<a href="http://www.italki.com/teacher/apply"> Italki.com </a>allows teachers to list their rates and services, schedule classes and provide you with tools to conduct them in real time. You can expect to make $15-20 per hour. If English isn’t your first language, no worries, Italiki also invites French, Italian, Chinese, Spanish, Russian and more native speakers to join. </p>
            </div>
            <div class="card-action">
              <a href="#">VIEW</a>
              <a href="#">SAVE</a>
            </div>
          </div>
          <a href="/static_pages/askforfund"><small>I really need help</small></a>
      </div>
    </div>
  </div>
</div>