<div class="save">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3 result">
        <!-- <canvas id="myChart" width="400" height="200"></canvas> -->
        <h1>All the goodies they never taught you in class</h1>
        <a href=""><h5>+ Add your own</h5></a>
        <div class="card">
          <div class="card-content white-text">
            <span class="card-title">Eat at Home</span>
            <p>Making food at home will truly save you money and it is healhtier. Get your ingeredients from the nearest grocery shop and cook!</p>
            <br>
            <p>Average Cost : $3 - $5</p>
          </div>
          <div class="card-action">
            <a href="#">VIEW</a>
            <a href="#">SAVE</a>
          </div>
        </div>
        <div class="card">
          <div class="card-content white-text">
            <span class="card-title">Promo Codes</span>
            <p> Look for promo codes from sites like<a href ="http://www.flipit.com/my"> flipit.com </a> or you can purchase amazing deals from <a href="http://www.groupon.my/">Groupon</a></p>
            <br>
            <p>Average Cost : 0 - $10</p>
          </div>
          <div class="card-action">
            <a href="#">VIEW</a>
            <a href="#">SAVE</a>
          </div>
        </div>
        <div class="card">
          <div class="card-content white-text">
            <span class="card-title">Avoid Impulse Purchase</span>
            <p>Avoid shopping malls or e-commerce sites! </p>
          </div>
          <div class="card-action">
            <a href="#">VIEW</a>
            <a href="#">SAVE</a>
          </div>
        </div>
        <a href="/static_pages/save"><small>I really need help</small></a>
      </div>
    </div>
  </div>
</div>