<div class="earn">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3 result">
        <!-- <canvas id="myChart" width="400" height="200"></canvas> -->
        <h1>All the goodies they never taught you in class</h1>
        <div class="card">
          <div class="card-content white-text">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">VIEW</a>
            <a href="#">SAVE</a>
          </div>
        </div>
        <a href=""><small>I really need help</small></a>
      </div>
    </div>
  </div>
</div>