<div class="container text-center welcome">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-3">
			<%= image_tag "broq_logo_white.png", :class => "img logo" %>
			<div class="intro">
				<h1>We understand how it feels to be broke, and we’d like to help with it.</h1>

				<%= render 'form' %>
				<%# link_to 'Back', wallets_path %>
			</div>
		</div>
	</div>
</div>
