<p> YOU HAVE AN AVERAGE </p> 
<p> $$ <%= @average %> </p>

<table>
  <thead>
    <tr>
      <th>WHAT WOULD YOU LIKE TO DO </th>
      <th colspan="3"></th>
    </tr>
  </thead>
     </thead>

   <tbody> <p> SAVE </p>
           <p> SPEND </p>
           <p> JOBS </p>
           <p> ASK FOR FUNDS </p>




   </tbody>
 </table>


  <tbody>

  </tbody>
</table>
