// Place all the styles related to the Wallets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="number"] {
  	display: block;
  	margin: 0;
  	width: 100%;
  	font-size: 36px;
  	letter-spacing: -1.2px;
  	line-height: 36px;
  	appearance: none;
  	box-shadow: none;
  	border-radius: none;
	border: none;
  	border-bottom: solid 2px #c9c9c9;
  	transition: border 0.3s;
  	text-align: center;
  	color: #9B9B9B;
  	margin-top: -20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field {
	display: inline;
}

.balance-help {
	transition: all 0.3s;
}

.hide {
	display: none;
}

input[type="number"]:focus {
  	outline: none;
  	border-bottom: solid 2px #969696;
}

.logo {
	margin-top: 100px;
}

.intro {
	color: #9B9B9B;
}

.btn-orange {
	background-color: #F29F81;
	color: white;
	margin-top: 30px;
}