<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
     </thead>

   <tbody>
   <% @categories.each do |category| %>
      <tr>
       <td><%= category.name %></td>

     </tr>
    <% end %>

   </tbody>
 </table>


  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'Rekey in your wallet', new_wallet_path %>
